@import "vendor/reset";
@import "vendor/grid.min";

body {
    background-color: #fff;

    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1;

}

a {
    color: inherit;
    text-decoration: none;
    transition: all .1s linear;

    &:hover {
        color: #b2ce88;
    }
}

h1 {
    font-family: 'Podkova', sans-serif;
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 1.3;
    letter-spacing: .25em;
    text-transform: uppercase;

    @media (max-width: 992px) {
        font-size: 2rem;
    }
    @media (max-width: 769px) {
        font-size: 1.75rem;
    }
}

h4 {
    
    font-size: 1.25rem;
    line-height: 1.9;
    letter-spacing: .25em;

    color: #898989;

    @media (max-width: 769px) {
        font-size: 1rem;
    }
}
.row {
   margin: 0; 

}
svg path { 
    stroke:inherit;
    stroke-width:inherit;
    fill:inherit;
}
svg path.icon-color {
    fill: #fff;
}

.contentInside {    
    margin-bottom: 50px;
        &__text {
            padding-right: 100px;
            padding-left: 0;
            @media (max-width: 768px) {
                padding-right: 0;
            }

            p {
                padding-top: 1.25em;
            }
        }
        &__picture {
            padding: 0;
        }
}

.mainText {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: .8125rem;
    line-height: 1.5;
    //width: 430px;
}
.mainText.b {
    font-weight: 600;
}
.mainText.i {
    font-style: italic;
}

.mainContainer {
    width: 100%;
    max-width: 1159px;
    margin: 0 auto;
    padding: 0 50px;

    @media (max-width: 576px) {   
        padding: 0 10px;
    }
}
.productContainer {
    width: 100%;
    max-width: 1159px;
    margin: 0 auto;
    padding: 0 50px;

    @media (max-width: 576px) {   
        padding: 0 10px;
    }
}

.btn {
    border: 0;
    width: 100%;
    height: 2.5rem;
    color: white;
    background-color: #b2ce88;

    font-family: inherit;
    font-size: inherit;
    line-height: 1;

    &:hover {
        background-color: #98b46d;
    }
    
}

.telNo {
    text-decoration: none;
    color: inherit;

    transition: color .2s linear;

    &:hover {
        color: #b2ce88;
    }
}


// BLocks
@import "blocks/header";
@import "blocks/social";
@import "blocks/index";
@import "blocks/category";
@import "blocks/uslugi-text";
@import "blocks/product-page";
@import "blocks/cart";
@import "blocks/contacts";