@import "vendor/reset";
@import "vendor/grid.min";

body {
    background-color: #fff;

    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1;

}

h1 {
    font-family: 'Podkova', sans-serif;
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 1.3;
    letter-spacing: .25em;
    text-transform: uppercase;
}

h4 {
    
    font-size: 1.25rem;
    line-height: 1.9;
    letter-spacing: .25em;

    color: #898989;
}

.mainText {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: .8125rem;
    line-height: 1.5;
}
.mainText.b {
font-weight: 600;
}

.mainContainer {
    width: 100%;
    max-width: 1160px;
    margin: 0 auto;
    padding: 0 50px;

    @media (max-width: 576px) {   
        padding: 0 10px;
    }
}


// BLocks
@import "blocks/header";
@import "blocks/social";
@import "blocks/index";
@import "blocks/category";