@import "vendor/reset";
@import "vendor/grid.min";

body {
    background-color: #fff;

    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1;

}

h1 {
    font-family: 'Podkova', sans-serif;
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 1.3;
    letter-spacing: .25em;
    text-transform: uppercase;
}

h4 {
    
    font-size: 1.25rem;
    line-height: 1.9;
    letter-spacing: .25em;

    color: #898989;
}
.row {
   margin: 0; 
}
.contentInside {
    margin-bottom: 50px;
        &__text {
            padding-right: 100px;
            @media (max-width: 768px) {
                padding-right: 0;
            }

            p{
                padding-top: 1.25em;
            }
        }
        &__picture {
            padding: 0;
        }
}
.mainText {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: .8125rem;
    line-height: 1.5;
    //width: 430px;
}
.mainText.b {
font-weight: 600;
}

.mainContainer {
    width: 100%;
    max-width: 1160px;
    margin: 0 auto;
    padding: 0 50px;

    @media (max-width: 576px) {   
        padding: 0 10px;
    }
}

.plantAttribute {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;

    color: white;

    span {
        line-height: 1.3;
        padding-right: 10px;
    }

    &__item {
        flex: 0 0 50%;
        display: flex;
        align-items: center;

        background-color: #c4df9b;

        min-height: 55px;
        width: 100%;
        padding: 2px;

        border: 1px white solid;

        &:hover {
            background-color: #98b46d;
        }
    }

    &__pic {
        height: 2em;
        width: auto;

        margin-left: 5px;
        margin-right: 10px;
    }

}

.btn {
    border: 0;
    width: 100%;
    height: 2.5rem;
    color: white;
    background-color: #b2ce88;

    font-family: inherit;
    font-size: inherit;
    line-height: 1;

    &:hover {
        background-color: #98b46d;
    }
    
}

.telNo {
    text-decoration: none;
    color: inherit;
}


// BLocks
@import "blocks/header";
@import "blocks/social";
@import "blocks/index";
@import "blocks/category";
@import "blocks/uslugi-text";
@import "blocks/product-page";
@import "blocks/cart";
@import "blocks/contacts";