.titles {
    font-size: 1rem;
    font-weight: 400;

    height: 3.125em;
    align-items: center;
}

.content {
    li {
        padding-left: 0;
    }
}

.discount, .totalSumm, .promo {
    .sum, .promo__btn {
        padding-left: 0;
    }   
}

.cell {
    background-color: #ebebeb;
    height: 2.75em;
    border: 0;
    margin-right: 20px;
    margin-bottom: 10px;

    font-family: inherit;
    font-size: 0.8125rem;
    color: inherit;

    &:focus {
        background-color: #e2e2e2;
    }
    &:focus::placeholder {
        color: transparent;
    }

    
}

.deliveryPlace {
    padding: 0;
    
    .delivery__field {
        height: 2.75em;
        margin-bottom: 10px;
        border: 1px solid #bebebe;
        
        font-size: 0.8125rem;

        &>.size{
            font-family: inherit;
            font-style: inherit;

            margin: 8px 0;
        }
    } 
    .delivery__text {
        font-size: .6875rem;
        font-weight: 400;
        font-style: italic;
        color: #777;
        

        &-item {
            display: none;
            line-height: 1.3;
            margin-bottom: 15px;
        }
    }
}

.payment {
    
    &__item {
       
        font-size: 0.8125rem;
        margin-top: 10px;

        display: inline-block;

        width: 100%;
    }

    &__item input[type=radio] {
        display: none;
    }

    &__item label {
        display: inline-block;
        cursor: pointer;
        padding: 0px 15px;
        line-height: 34px;
        border: 1px solid #afafaf;
        user-select: none;

        width: 100%;
        text-align: center;
    }

    /* Checked */
    &__item input[type=radio]:checked + label {
        background: #b2ce88;
        color: #fff;
        border-color: #b2ce88;
    }
    
    /* Hover */
    &__item label:hover {
        background-color: #c4df9b;
        border-color: #c4df9b;
    }
    
    /* Disabled */
    &__item input[type=radio]:disabled + label {
        background: #efefef;
        color: #666;
}

    &>p {
        margin: 10px 0;
    }
}

.checkout {
    font-size: 1rem;
    font-weight: 400;
    margin-top: 40px;
    margin-bottom: 40px;
    
    .otstup {
        padding-left: 0;

        // &>div {
        //     margin-right: -20px;
        // }
    }
    .title {
        line-height: 1;
        margin-bottom: 20px;
        
    }

    input:valid:not(:placeholder-shown) {
        border: solid 1px #98b46d;
      }
      
      input:invalid:not(:placeholder-shown) {
        border: solid 1px #98b46d;
      }

    .verify {
        font-size: 0.8125rem;
        padding: 0;

        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        .agreement {
            height: 2.75em;
            margin-bottom: 10px;
        }

        .btn {
            height: 2.75em;
            margin-bottom: 10px;
        }

        .checkbox>input {
            position: absolute;
            z-index: -1;
            opacity: 0;
        }
        
        .checkbox>span {
            display: inline-flex;
            align-items: center;
            user-select: none;
        }
        
        .checkbox>span::before {
            content: '';
            display: inline-block;
            width: 2.125em;
            height: 2.125em;
            flex-shrink: 0;
            flex-grow: 0;
            border: 1px solid #adb5bd;
            border-radius: 100%;
            margin-right: 1em;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 50% 50%;
        }
        
        .checkbox>input:not(:disabled):not(:checked)+span:hover::before {
            border-color: #d6f0b0;
        }
        
        .checkbox>input:not(:disabled):active+span::before {
            background-color: #d6f0b0;
            border-color: #d6f0b0;
        }
        
        .checkbox>input:focus+span::before {
            box-shadow: 0 0 0 0.2rem rgba(196, 223, 155, 0.25);
        }
        
        .checkbox>input:focus:not(:checked)+span::before {
            border-color: #b2ce88;
        }
        
        .checkbox>input:checked+span::before {
            border-color: #98b46d;
            background-color: #98b46d;
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
        }
        
        .checkbox>input:disabled+span::before {
            background-color: #e9ecef;
        }
         
    }

    .subtext {
        font-style: italic;
        font-size: .8125rem;
        color: #777;
        
    }
}

.product {
    min-height: 5.313em;
    background-color: #ebebeb;

    font-family: "Podkova", sans-serif;
    font-size: 1.25rem;
    font-weight: 700;

    align-items: center;
    margin-bottom: 5px;

    &:hover {
        background-color: #ddd;
    }

    .name {
        text-transform: uppercase;
        letter-spacing: .25em;
 
    }

    &__delBtn {
        height: 28px;
        width: 28px;
        border: 0;
        background: none;
        float: right;
        margin-right: 35px;
    }

    .close-big {
        position: relative;
        height: 28px;
        width: 28px;

        fill: #afafaf;
        transition: all .1s linear;

        &:hover {
            fill: #b2ce88;
        }
    }

    .imgPlace {
        max-height: 5.313em;
        display: flex;
        align-items: center;

        &__pic {
            min-width: 5.313em;
            min-height: 5.313em;
            
            margin-right: 20px;
        }
    }

}

.quantity {
    display: inline-block;


    .quantity__plus, .quantity__minus {
        font-size: 1.875rem;
        font-weight: 400;
        color: #c0c5c9;
        vertical-align: middle;

        border: 0;
        padding: 0;
        background-color: transparent;
        transition: all .1s linear;
        &:hover {
            color: #b2ce88;
        }
    }

    .quantity__number {
        font-family: 'Podkova', sans-serif;
        font-weight: 700;
        font-size: 1.25rem;
        width: auto;
        vertical-align: middle;
        margin-left: 10px;
        border: 0;
        background-color: transparent;
    }
    .quantity__number-text {
        margin-right: 10px;
        vertical-align: middle;
    }
}

.totalSumm {
    align-items: center;
    .text {
        text-align: right;
        font-size: 1rem;
        font-weight: 400;
    }
    .sum {
        font-family: "Podkova", sans-serif;
        font-size: 1.5rem;
        font-weight: 700;
    }
}
.discount {
    align-items: center;
    color: #afafaf;
    .text {
        text-align: right;
        font-size: .8125rem;
        font-weight: 400;
    }
    .sum {
        font-size: 1rem;
    }
}
.totalPrice {
    margin-top: 30px;

    .promo {
        margin-top: 10px;
        font-size: 1rem;
        font-weight: 400;
    
        &__field {
            text-align: right;
            .cell {
                margin: 0;
                width: 170px;
                background-color: transparent;
                border: solid 1px #afafaf;

                &:focus {
                    background-color: #f3f3f3;
                }
            }
        }
        &__btn {
            text-align: left;
            .btn {
                height: 2.25em;
                width: 10.625em;
                line-height: 1;
                background-color: #afafaf;

                &:hover {
                    background-color: #98b46d;
                }
            }
        }
    }
}
