.category {
    margin-bottom: 50px;

    &__text {
        p{
            padding-top: 1.25em;
        }
    }

    .plantAttribute {
        display: flex;
        flex-wrap: wrap;
        margin-top: 30px;

        color: white;

        span {
            line-height: 1.3;
            padding-right: 10px;
        }

        &__item {
            flex: 0 0 50%;
            display: flex;
            align-items: center;

            background-color: #c4df9b;

            min-height: 55px;
            width: 100%;
            padding: 2px;

            border: 1px white solid;

            &:hover {
                background-color: #98b46d;
            }
        }

        &__pic {
            height: 2em;
            width: auto;

            margin-left: 5px;
            margin-right: 10px;
        }

    }

    &__plantPictures {
        
        .plantPictures__inner {
            
        }
        .plantPictures__item {
            min-width: 170px;
            min-height: 100%;

            padding: 0;
            border: 6px solid white;
            background-color: rgb(161, 161, 161);
        }
    }
}

