// ======= Category page
// ==============



.text__header {
    margin-bottom: 40px;
    text-align: center;
    justify-content: center;

    @media (max-width: 769px) {
        width: 100%;
        justify-content: left;
        text-align: left;
     }

    .title {
        padding: 0;
        &>h1 {
            line-height: .9;
        }
    }

    .text__block {
        padding: 0;
        width: 70%;

        @media (max-width: 769px) {
           width: 100%;
        }
    }
    
   
}

.category__plantPictures {
    padding: 0;
    
}

.plantPictures__inner {
    margin-right: -20px;
        .plantPictures__item {
            position: relative;
            overflow: hidden;
            padding: 0;
            margin-bottom: 30px;
            padding-right: 20px;

            .imagePlace { 
                position: relative;
                width: 100%;
                height: auto;
                
                overflow: hidden;

                a:hover>img {
                    transform: scale(1.1);
                }

                img {
                    width: 100%;
                    height: 100%;
                    transition: all .2s ease-in-out;
                }

                .icon__place {
                    position: absolute;
                    top: 10px;
                    right: 10px;
                    z-index: 1;

                    cursor: pointer;

                    width: 32px;
                    height: 32px;
                    background-color: #fff;
                    border-radius: 16px;

                    transition: all .2s ease-in-out;

                    &:hover {
                        background-color: #98b46d;
                    }
                    &:hover .like {
                        fill: #fff;
                    }

                    .like {
                        position: relative;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%,-50%);
                        width: 18px;
                        height: 18px;
                        transition: all .2s ease-in-out;

                        
                    }
                }
                
            }

            .item__details {

                padding: 10px;

                font-family: inherit;
                font-size: .8125rem;
                color: inherit;
                line-height: 1.5;

                //background-color: #ebebeb;
                border: 1px solid #bababa;
                border-top: 0;

                .details__title {

                    //font-weight: 700;
                    a {
                        text-decoration: none;
                        color: inherit;
                    }
                }

                .btn {
                    border: solid 1px #bababa;
                    background-color: transparent;
                    color: inherit;

                    transition: all .1s linear;

                    &:hover {
                        background-color: #b2ce88;
                        border: solid 1px #b2ce88;

                        color: #fff;
                    }
                }
                .price {
                    color: #898989;
                    font-weight: 400;
                }
                .sum {
                    font-family: 'Podkova', sans-serif;
                    font-weight: 700;
                    font-size: 1rem;
                    padding-left: 7px;
                }
                
                .size {
                    border: 0;
                    margin-bottom: 10px;
                    appearance: none;
                    width: 100%;
                    font-family: inherit;
                    font-size: inherit;

                    padding-left: 25px;

                    cursor: pointer;
                    background: url("/assets/images/sel-arr.svg") no-repeat right center, url("/assets/images/navigation/plant-size.svg") no-repeat left center;
                    
                }

            }
        }
}
//=============


.blockMargin {
    margin-bottom: 30px;
}
// ======= /end Category page
// ==============
