.category {

    

    &__plantPictures {
        
        .plantPictures__inner {
            
        }
        .plantPictures__item {
            min-width: 170px;
            min-height: 100%;

            padding: 0;
            border: 6px solid white;
            background-color: rgb(161, 161, 161);
        }
    }
}

