.category {

    

    &__plantPictures {
        padding-right: 0;

        .plantPictures__inner {
            
        }

        .plantPictures__item {
            min-width: 150px;
            height: auto;
            padding: 0;
            margin: 2px;
            background-color: rgb(161, 161, 161);

            .imagePlace {
                width: 100%;
                height: 100%;
            }
        }
    }
}

