.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;

    width: 100%;
    max-width: 1160px;
    height: 100px;
    margin: 0 auto;
    
}

// Navigation_Header
//==========


.nav {
    background-color: #fff;

    display: flex;
    flex-wrap: wrap;
    align-items: center;

    height: 100px;

    &__functions {
        display: flex;
        align-items: center;
        padding: 0;
    }
    
    .burger {
        min-width: 18px;
        padding: 6px 0;
        
        font-size: 0;
        color: transparent;
        
        border: 0;
        background: none;
        cursor: pointer;
        
        position: relative;
        
        z-index: 1001;

        &:hover>.burger__item,
        &:hover>.burger__item::before,
        &:hover>.burger__item::after {
            background-color: #b2ce88;

        }

        &__item {
            display: block;
            width: 100%;
            height: 2px;
            
            background-color: #000;
            
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            margin: auto;

            transition: all .2s linear;

            &::before, &::after {
                content: "";
                width: 100%;
                height: 100%;

                background-color: #000;

                position: absolute;
                left: 0;
                z-index: 1;

                transition: transform .2s linear, background-color .2s linear;
                
            }

            &::before {
                bottom: -6px;
            }
            &::after {
                top: -6px;
            }
        }
        
    }

    .funcIcons {
        display: flex;
        position: relative;
        z-index: 1001;
        

        &__item {
            display: flex;
            justify-content: center;
            align-items: center;
            
            width: 27px;
            height: 20px;

            margin-left: 40px;

        }

        &__icon {
            display: block;
            height: 20px;

            transition: all .2s ease-in-out;

            &:hover {
                fill: #b2ce88;
            }
           
        }

    }

    .logoCont {
        position: absolute;
        width: 100%;
        height: 100px;
        left: 0;
        top: 0;
        z-index: 1000;
        

        display: flex;
        justify-content: center;
        align-items: center;
        .logo {
            width: 148px;
            height: 35px;
        }
    }

    .burger.active {
        .burger__item {
            background: none;
        }
        .burger__item::before {
            transform-origin: left top;
            transform: rotate(-45deg) translate3d(0px, 1px, 0px);
        }
        .burger__item::after {
            transform-origin: left bottom;
            transform: rotate(45deg) translate3d(0px, -1px, 0px);
        }
    }
   
    .phoneNumber {
        text-align: right;
        padding: 0;

        .telNo{
            position: relative;
            z-index: 1002;
        }
    }

    .searchField {
        padding: 0; 
        justify-content: flex-end;
        .funcIcons__icon{
            cursor: pointer;
            z-index: 1003;
        }
        display: none;
    }

    .searchPlace {
        display: none;
        position: absolute;
        top: 72px;
        left: 50px;
        z-index: 1001;
        
        //transition: all .2s linear;

        .searchInput {
            background-color: #ebebeb;
            height: 28px;
            width: 203px;
            border: 0;
            padding-left: 15px;
            font-family: inherit;
            font-size: 0.8125rem;
            color: inherit;

            &:focus {
                background-color: #e2e2e2;
            }
            &:focus::placeholder {
                color: transparent;
            }
        }

        .submit {
            height: 30px;
            width: 30px;
            position: absolute;
            top: 0;
            right: 0;
            
            cursor: pointer;

            border: 0;
            outline: 0;

            background: center no-repeat url("/assets/images/navigation/arr-right-w.svg") #c4df9b;
            
          }
    }       
}





// Responsive navigation
//==========

@media (max-width: 768px) {  

    .nav { 
        .funcIcons {
            display: none;
        }
        .searchField {
            display: flex;
        }

        .searchPlace {
            right: 50px;
            text-align: right;
        }
        @media (max-width: 576px) {   
            .searchPlace {
                right: 10px;
                left: 10px;
                .searchInput {
                    width: 100%;
                }
            }
        }
    }
    
    .phoneNumber {
        display: none;
    }



}

// List menu
//==========

.listMenu {
    position: relative;
    z-index: -1;
    font-size: 15px;
    visibility: hidden;
   

    transform: translateY(-110%);
    transition: all .2s ease-in-out;

    background-color: rgba(255,255,255,.95);
    
    a {
        text-decoration: none;
        color: inherit;
        width: 100%;
    }

    &__main {
        width: 230px;
        padding: 0;
    
        @media (max-width: 768px) {
            width: 100%;
        }
    }

    .goBack {
        display: none;
        background: left url("/assets/images/navigation/arr-left.svg")  no-repeat #eee;
        background-size: 9px;
        background-position: left 10px center;
        line-height: 0;

        margin-bottom: 10px;

        padding-left: 30px;
        
        @media (max-width: 768px) {
            display: flex;
            
        }
    }

    .childrenAway {
        visibility: visible;
        opacity: 1;
        transform: translateX(0);
    }

    .hasChildren {

        padding: 0 0 0 20px;
        &>a, &>.go-back a {
            position: relative;
        }

        &>a::before, &>a::after, &>.go-back a::before, &>.go-back a::after {
            /* arrow icon in CSS - for element with nested unordered lists */
            content: '';
            position: absolute;
            top: 50%;
            margin-top: -1px;
            display: inline-block;
            height: 2px;
            width: 10px;
            background: #000;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
          }

        &>a::before, &>.go-back a::before {
            transform: rotate(45deg);
        }

        &>a::after, &>.go-back a::after {
            transform: rotate(-45deg);
        }
        &>a {
            padding-right: 40px;
        }
        &> a::before, &> a::after {
            /* arrow goes on the right side - children navigation */
            right: 0;
            transform-origin: 9px 50%;
        }
    }

    .funcIcons__icon {
        width: 27px;
        height: 20px;
        margin-right: 10px;
    }

    &__list {
        list-style: none;
        
        height: 100vh;
        border-left: solid 1px #bbb;

        transition: all .2s ease-in-out;
    }

    &__subList {
        position: absolute;
        top: 0;
        left: 100%;
        z-index: 1;

        visibility: hidden;
        opacity: 0;

        list-style: none;
        width: 100%;
        height: 100%;
        border-left: solid 1px #bbb;
        
        transform: translateX(-10%);
        transition: all .2s ease-in-out;

        @media (max-width: 768px) {
            position: absolute;
            top: 0;
            left: 1px;
    
            list-style: none;
            width: 100%;
            height: 100vh;
            border-left: none;
            background-color: #fff;
            
            transform: translateX(-110%);
            transition: all .2s ease-in-out;
        }

    }

    
    li {
        width: 100%;
        min-height: 40px;
        padding: 10px 20px;
        line-height: 1;
        display: inline-flex;
        
        a {
            width: 90%;
            display: flex;
            align-items: center;
            padding: 0;

            @media (max-width: 768px) {
                width: 100%;
            }
        }

        @media (min-width: 769px) {
            
            &:hover {
                background-color: #c4df9b;
            }

            &:hover > .listMenu__subList {
                visibility: visible;
                transform: translateX(0);
                opacity: 1;

                @media (max-width: 768px) {
                    transform: translateX(0);
                }
            }
        }

        @media (max-width: 768px) {
            
            &:last-child {
                border-bottom: 0;
            }

            &:hover {
                background-color: #fff;
            }
            
        }
    }
}

.listMenu.open {
    visibility: visible;
    transform: translateY(0);
}
