.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;

    width: 100%;
    max-width: 1160px;
    margin: auto;
    
}

.nav {
    background-color: #fff;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    //justify-content: center;

    height: 100px;

    &__functions {
        display: flex;
    }

    .burger {
        min-width: 18px;
        padding: 6px 0;
        
        font-size: 0;
        color: transparent;
        
        border: 0;
        background: none;
        cursor: pointer;
        
        position: relative;
        
        //left: 0;
        z-index: 1;

        &__item {
            display: block;
            width: 100%;
            height: 2px;
            
            background-color: #000;
            
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            margin: auto;
            
            //transition: background .2s linear;

            &::before, &::after {
                content: "";
                width: 100%;
                height: 100%;

                background-color: #000;

                position: absolute;
                left: 0;
                z-index: 1;
            }

            &::before {
                bottom: -6px;
            }
            &::after {
                top: -6px;
            }
        }
    }

    .funcIcons {
        display: flex;
        

        &__item {
            display: flex;
            justify-content: center;
            align-items: center;
            
            width: 27px;
            height: 20px;

            margin-left: 40px;
        }

        &__icon {
            display: block;

            height: 20px;

            fill: #000;
        }

    }

    .logoCont {
        position: absolute;
        width: 100%;
        height: 100px;
        left: 0;
        top: 0;

        display: flex;
        justify-content: center;
        align-items: center;
        .logo {
            width: 148px;
            height: 35px;
            
        }
    }
   
    .phoneNumber {
        text-align: right;
    }
    
}