.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;

    width: 100%;
    max-width: 1160px;
    margin: 0 auto;
    
}

// Navigation
//==========

.nav {
    background-color: #fff;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    //justify-content: center;

    height: 100px;

    &__functions {
        display: flex;
        padding: 0;
    }

    
    .burger {
        min-width: 18px;
        padding: 6px 0;
        
        font-size: 0;
        color: transparent;
        
        border: 0;
        background: none;
        cursor: pointer;
        
        position: relative;
        
        z-index: 1001;

        &__item {
            display: block;
            width: 100%;
            height: 2px;
            
            background-color: #000;
            
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            margin: auto;
            
            transition: background .2s linear;

            &::before, &::after {
                content: "";
                width: 100%;
                height: 100%;

                background-color: #000;

                position: absolute;
                left: 0;
                z-index: 1;

                transition: transform .2s linear;
            }

            &::before {
                bottom: -6px;
            }
            &::after {
                top: -6px;
            }
        }
        
    }

    .funcIcons {
        display: flex;
        position: relative;
        z-index: 1001;

        &__item {
            display: flex;
            justify-content: center;
            align-items: center;
            
            width: 27px;
            height: 20px;

            margin-left: 40px;
        }

        &__icon {
            display: block;

            height: 20px;

            fill: #000;

        }

    }

    .logoCont {
        position: absolute;
        width: 100%;
        height: 100px;
        left: 0;
        top: 0;
        z-index: 1000;
        

        display: flex;
        justify-content: center;
        align-items: center;
        .logo {
            width: 148px;
            height: 35px;
        }
    }

    .burger.active {
        .burger__item {
            background: none;
        }
        .burger__item::before {
            transform-origin: left top;
            transform: rotate(-45deg) translate3d(0px, 1px, 0px);
        }
        .burger__item::after {
            transform-origin: left bottom;
            transform: rotate(45deg) translate3d(0px, -1px, 0px);
        }
    }
   
    .phoneNumber {
        text-align: right;
        padding: 0;
    }
}


// Responsive navigation
//==========

.nav-sm {

    background-color: #fff;

    display: none;
    flex-wrap: wrap;
    align-items: center;
    //justify-content: center;

    height: 100px;

    &__functions {
        display: flex;
        padding: 0;
    }

    
    .burger {
        min-width: 18px;
        padding: 6px 0;
        
        font-size: 0;
        color: transparent;
        
        border: 0;
        background: none;
        cursor: pointer;
        
        position: relative;
        
        z-index: 1001;

        &__item {
            display: block;
            width: 100%;
            height: 2px;
            
            background-color: #000;
            
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            margin: auto;
            
            transition: background .2s linear;

            &::before, &::after {
                content: "";
                width: 100%;
                height: 100%;

                background-color: #000;

                position: absolute;
                left: 0;
                z-index: 1;

                transition: transform .2s linear;
            }

            &::before {
                bottom: -6px;
            }
            &::after {
                top: -6px;
            }
        }
       
    }

    .burger.active {
        .burger__item {
            background: none;
        }
        .burger__item::before {
            transform-origin: left top;
            transform: rotate(-45deg) translate3d(0px, 1px, 0px);
        }
        .burger__item::after {
            transform-origin: left bottom;
            transform: rotate(45deg) translate3d(0px, -1px, 0px);
        }
    }

    .logoCont {
        position: absolute;
        width: 100%;
        height: 100px;
        left: 0;
        top: 0;
        z-index: 1000;

        display: flex;
        justify-content: center;
        align-items: center;
        .logo {
            width: 148px;
            height: 35px;
            
        }
    }

    .search {
        padding: 0;
        text-align: right;
        &__icon {
            position: relative;
            z-index: 1001;
            height: 20px;
            width: 20px;
            fill: #000;
        }
    }
}


@media (max-width: 768px) {  
    .nav { 
        display: none;
    }
    .nav-sm { 
        display: flex;
    }
}

// List menu
//==========

.listMenu {
    position: relative;
    z-index: -1;
    font-size: 15px;
    visibility: hidden;

    //outline: 1px #000 solid;

    transform: translateY(-110%);
    transition: all .2s ease-in-out;

    background-color: rgba(0,0,0,.6);
    
    a {
        text-decoration: none;
        color: inherit;
    }

    &__main {
        width: 230px;
        padding: 0;
        background-color: #fff;
        @media (max-width: 768px) {
            width: 100%;
        }
    }

    &__list {
        list-style: none;
        width: 100%;
        height: 100vh;
        border-left: 1px #bbb solid;
    }

    &__subList {
        position: absolute;
        top: 0;
        left: 100%;
        z-index: -2;

        visibility: hidden;
        opacity: 0;

        list-style: none;
        width: 100%;
        height: 100vh;
        border-left: 1px #bbb solid;
        background-color: #fff;
        
        transform: translateX(-110%);
        transition: all .2s ease-in-out;

        @media (max-width: 768px) {
            position: relative;
            top: 10px;
            left: 0;
            z-index: 0;
            height: 100%;
            display: none;
            border-left: 0;
            //visibility: visible;
           // opacity: 1;
            
            //border: 0;
            transform: translateX(0);
        }

    }

    
    &__item {
        padding: 10px 20px;
        border-bottom: 1px #bbb solid;
        &:hover {
            background-color: #e4e4e4;
        }

        &:hover > .listMenu__subList {
            visibility: visible;
            transform: translateX(0);
            opacity: 1;
        }

        @media (max-width: 768px) {
            
            border-bottom: 1px #bbb solid;
            //border-right: 1px #bbb solid;

            &:last-child {
                border-bottom: 0;
            }

            &:hover {
                background-color: #fff;
            }

            &:hover > .listMenu__subList { 
                display: block;
                background-color: #fff;
            }
            &:hover > .listMenu__list.listMenu__item {
                background-color: transparent;
            }
            

        }
    }
}

.listMenu.open {

    visibility: visible;
    transform: translateY(0);

}