.content {
    margin-top: 100px;

    &__container {
        margin: 0;
    }

    &__item {
        min-height: 290px;
        max-height: 290px;
        width: 100%;
        padding: 0;

        line-height: 1.2;
        letter-spacing: .07em;

        background-color: #fff;
        overflow: hidden;

            .imagePlace {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

        .titleText {
            // margin: 25px 0 0 30px;

            position: absolute;
            top: 25px;
            left: 30px;
            z-index: 10;
        }

        .promoText {
            margin: 15px 0 0 30px;
        }

        &__title {
            display: flex;
            justify-content: center;
            text-align: left;
            align-items: center;

            font-family: 'Podkova', sans-serif;
            font-weight: 700;
            font-size: 1.75rem;
            line-height: 1.3;
            letter-spacing: .25em;
            text-transform: uppercase;
        }

        &__promo {
            font-size: 1.875rem;
            line-height: 1.3;
            color: #fff;

            background: bottom 400% right -25%  no-repeat url('/assets/images/content/promo.png'), #c4df9b;

            p {
                font-size: 5.69rem;
                font-weight: 600;
                line-height: 1;
            }
        }

        &__more {
            font-size: .875rem;
            line-height: 1.5;

            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            text-align: center;

            .break {
                flex-basis: 100%;
                height: 0;
            }
            
            .moreIcon {
                width: 2.75em;
                height: 2.75em;
                margin-top: 20px;
            }
        }
    }
}