.content {
    margin-top: 100px;

    &__container {
        margin: 0;
    }

    &__item {
        min-height: auto;
        max-height: 290px;
        width: 100%;
        padding: 0;

        line-height: 1.2;
        letter-spacing: .07em;

        @media (max-width: 576px) {
            
            min-height: 150px;
            max-height: 150px;

        }

        background-color: #fff;
        overflow: hidden;

        &:hover img {
            transform: scale(1.1);
        }

        a {
            color: inherit;
            text-decoration: none;

        }

        // .imagePlace {
        //     width: 100%;
        //     height: 100%;
        //     object-fit: cover;

        //     transition: transform .3s ease-in-out;
        // }

        .titlePic {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;

            width: 100%;
            height: 100%;
            object-fit: cover;

            transition: transform .3s ease-in-out;
           
        }

        .titleText {
            position: absolute;
            top: 25px;
            left: 30px;
            z-index: 1;

            @media (max-width: 576px) {
            
                top: 10px;
                left: 10px;
                font-size: .875rem;
    
            }
        }

        .promoText {
            margin: 15px 0 0 30px;
        }

        &__title {
            p {
                position: relative;
                z-index: 10;

                @media (max-width: 576px) {
            
                    font-size: 1rem;
        
                }
            }

            display: flex;
            justify-content: center;
            text-align: left;
            align-items: center;

            font-family: 'Podkova', sans-serif;
            font-weight: 700;
            font-size: 1.75rem;
            line-height: 1.3;
            letter-spacing: .25em;
            text-transform: uppercase;
            
        }

        &__promo {
            background-color: #c4df9b;

            span {
                position: relative;
                z-index: 10;

                font-size: 1.875rem;
                color: #fff;

                @media (max-width: 576px) {
                    position: absolute;

                    left: 10px;
                    top: 10px;
                    font-size: 1.5rem;
        
                }
            }

            .promoPic {
                position: absolute;
                left: 0;
                top: 0;
                z-index: 1;

                width: 100%;
                height: 100%;
                object-fit: cover;

                transition: transform .3s ease-in-out;
            }

            p {
                position: relative;
                z-index: 10;

                font-size: 5.69rem;
                font-weight: 600;
                line-height: 1;

                @media (max-width: 576px) {
            
                    font-size: 3rem;
        
                }
            }
        }

        &__more {
            font-size: .875rem;
            line-height: 1.5;

            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            text-align: center;

            @media (max-width: 576px) {
            
                font-size: .7rem;
    
            }

            .break {
                flex-basis: 100%;
                height: 0;
            }
            
            .moreIcon {
                width: 2.75em;
                height: 2.75em;
                margin-top: 20px;
            }
        }
    }
}

// .imagePlace {
//     width: 100%;
//     height: 100%;
//     object-fit: cover;

//     transition: transform .3s ease-in-out;
// }