
.picture__holder {
    position: relative;

    .bigImage {
        width: 100%;
        object-fit: cover;
    }

    .funcIcons__item {
        position: absolute;
        bottom: 15px;
        right: 15px;
    }
    .funcIcons__icon {
        width: 38px;
        height: 34px;
        fill: white;
    }
}

.buyingBlock {
    margin-top: 10px;
    font-size: 1rem;

    &__inner {
    
        align-items: center;
        text-align: center;
         
    }
    .price {
        color: #898989;
    }
    .sum {
        font-family: 'Podkova', sans-serif;
        font-weight: 700;
        font-size: 1.25rem;
        padding-left: 7px;
    }
    .size {
        border: 0;
        appearance: none;
        width: 100%;
        cursor: pointer;
        background: url("/assets/images/sel-arr.svg") no-repeat right center;
    }

    .count {
        display: flex;
        align-items: center;
        justify-content: center;
        .mp {
            font-size: 1.875rem;
            font-weight: 400;
            color: #c0c5c9;
            line-height: 0;
            cursor: pointer;
        }

        .number {
            font-family: 'Podkova', sans-serif;
            font-weight: 700;
            font-size: 1.25rem;

            margin: 0 10px;
        }
        
    }

    @media (max-width: 576px) {   
        font-size: .8rem;
    }
    @media (max-width: 375px) {   
        .sum, .mp, .count.number {
            font-size: .9rem;
        }
        

    }
}