// ======= Product page
// ==============
.picture__holder {
    position: relative;

    .bigImage {
        width: 100%;
        object-fit: cover;
    }

    .funcIcons__item {
        position: absolute;
        bottom: 15px;
        right: 15px;
    }
    .funcIcons__icon {
        width: 38px;
        height: 34px;
        fill: white;
    }

    .icon__place {
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 1;

        cursor: pointer;

        width: 32px;
        height: 32px;
        background-color: #fff;
        border-radius: 16px;

        transition: all .2s ease-in-out;

        &:hover {
            background-color: #98b46d;
        }
        &:hover .like {
            fill: #fff;
        }

        .like {
            position: relative;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            width: 18px;
            height: 18px;
            transition: all .2s ease-in-out;

            
        }
    }
}

.plantAttribute {
    display: flex;
    flex-wrap: wrap;

    color: white;
    margin: 20px 0;

    span {
        line-height: 1.3;
        padding-right: 10px;
    }
    &__title {
        color: #000;

        height: 30px;
        width: 100%;
    }
    &__item {
        
        display: flex;
        align-items: center;

        background-color: #c4df9b;

        min-height: 55px;
        width: 100%;
        padding: 2px;

        border: 1px white solid;

        &:hover {
            background-color: #98b46d;
        }
    }

    &__pic {
        height: 2em;
        width: auto;

        margin-left: 5px;
        margin-right: 10px;
    }

    

}

.buyingBlock {
    margin-top: 10px;
    font-size: 1rem;
    margin-right: -15px;

    &__inner {
    
        align-items: center;
        text-align: center;
         
        
    }
    .price {
        color: #898989;
        font-size: .75rem;
    }

    .sum__box {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: left;
        height: 2.5rem;
        border: 1px solid #afafaf;
    
        .sum, .sum__text {
            font-family: 'Podkova', sans-serif;
            font-weight: 700;
            font-size: 1.15rem;
            //padding-left: 7px;
            @media (max-width: 992px) {   
                font-size: .95rem;
            }
        }
    }
    
    @media (max-width: 992px) {   
        font-size: .7rem;
    }
    @media (max-width: 375px) {   
        .sum, .mp {
            font-size: .9rem;
        }
    }
}
.size__pr {
    border: 0;
    
    appearance: none;
    width: 100%;
    font-family: inherit;
    font-size: inherit;

    padding-left: 25px;

    cursor: pointer;
    background: url("/assets/images/sel-arr.svg") no-repeat right center, url("/assets/images/navigation/plant-size.svg") no-repeat left center;
    
}

// ======= /end Product page
// ==============